# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "chili & chill"
description: "Yi Zhang's personal blogging system. I am writing for learning; sharing is secondary (serves as feedback to validate the goodness of my thoughts)."
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://yizhang.name" # canonical URL
enforce_ssl: yizhang.name
twitter_username: drtwo101
github_username:  beingzy

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# plugins
google_analytics: UA-54742567-1 # Put your Google Analytics code
author_gravatar: 76820ce0d73ee118e12281b9c0a9e737 # Gravatar md5 hash
disqus:
    shortname: "beingzygithubio"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
   - Gemfile
   - Gemfile.lock
   - node_modules
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
